<div class="col-xs-10 col-xs-offset-1 about">
    <h1>About Splurty</h1>

    <p>
        Splurty was built by
        <a target="_blank" href="http://github.com/matti89f">Matti</a>
        &amp; a web developer who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
    </p>
    <br/>
    <p>
        If you want to learn how to code - start
        <a target="_blank" href="http://www.thefirehoseproject.com/">
            here</a>.
    </p>

    <div class="col-xs-12 col-sm-4">
        <%= image_tag 'matti.jpg', class: 'img-responsive' %>
    </div>

    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
        <h2 class="text-center">Matti Hatem</h2>
        <br/>
        <p>
            Matti Hatem is a web developer and Ruby on Rails contributor. Matti is 28 years and have BS.c in IT and start the web development with a small Training at WLW company and now is doing also another small internship at Xing company.This his the first
            web application that is done by him (<a target="_blank" href="http://lunch-finder.herokuapp.com/">Lunch-Finder</a>). Useing HTML, CSS, Ruby and ROR.
        </p>
    </div>

</div>

<br class="clear"/>
<br/>
<br/>
<br/>
<br/>
